<div class="col-sm-3 single-post-card" id=<%= patient_path(patient.id) %>>
  <div class="card">
    <div class="card-block">
      <h4 class="post-text">
        <%= truncate(patient.name, :length => 60) %>
      </h4>
      <div class="post-content">
        <div class="dob">
          DOB: <%= patient.date_of_birth%>
        </div>
        <div class="address">
          Address: <%= patient.address %>
          </div>
          <%= link_to "View full patient info", patient_path(patient.id), class: 'view_info' %>
        </div>
      </div>
  </div><!-- card -->
</div><!-- col-sm-3 -->