<div id="main-content" class="col-sm-9">
  <div class="row">
      <div class="posted-by">Doctor: <%= @patient.user.name %></div>
      <h3><%= @patient.name %></h3>
      <p><%= @patient.date_of_birth %></p>
       <p><%= @patient.address %></p>
  </div><!-- row -->
    <div class="row">
      <h3>Patient Notes:</h3>
      <%= render @patientnotes %>
    </div>
    <div class="row">
        <div class="delete-patient-button-parent">
          <%= link_to 'Delete Patient', patient_path, :confirm => 'Are you sure?', :method => :delete , class: 'show_delete_button' %>
      </div>
    </div>
  </div>
</div>